<div class="modal fade" id="userAssignmentModal" tabindex="-1" aria-labelledby="userAssignmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="userAssignmentDialog">
        <div class="modal-content" id="userAssignmentContent">
            <div class="modal-header">
                <h5 class="modal-title" id="userAssignmentModalLabel">Assign User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="user-assignment-form" class="row g-3">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="modal-device-type-select">Device Type</label>
                            <select name="device_type" class="form-select optimized-select" id="modal-device-type-select">
                                <option value="default" selected>-- All --</option>
                                <option value="Headset">Headset</option>
                                <option value="Speaker">Speaker</option>
                                <option value="Earbud">Earbud</option>
                                <option value="Earbud - LEA">Earbud - LEA</option>
                                <option value="HID Mouse">HID Mouse</option>
                                <option value="HID Keyboard">HID Keyboard</option>
                                <option value="HID Gamepad">HID Gamepad</option>
                                <option value="HOGP Mouse">HOGP Mouse</option>
                                <option value="HOGP Keyboard">HOGP Keyboard</option>
                                <option value="HOGP Gamepad">HOGP Gamepad</option>
                                <option value="Carkit">Carkit</option>
                                <option value="Smart Watch">Smart Watch</option>
                                <option value="Fitness band">Fitness band</option>
                                <option value="Heart rate monitor">Heart rate monitor</option>
                                <option value="LE tracker">LE tracker</option>
                                <option value="Phone">Phone</option>
                                <option value="Smart ring">Smart ring</option>
                                <option value="Health device">Health device</option>
                                <option value="Smart bulb">Smart bulb</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="modal-model-number-select">Model Number</label>
                            <select name="model_number" class="form-select optimized-select" id="modal-model-number-select">
                                <option value="default" selected>-- All --</option>
                                {% for model_number in model_numbers %}
                                <option value="{{ model_number }}">{{ model_number }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="modal-chipset-manufacturer-select">Chipset Manufacturer</label>
                            <select name="chipset_manufacturer" class="form-select optimized-select" id="modal-chipset-manufacturer-select">
                                <option value="default" selected>-- All --</option>
                                {% for chipset_manufacturer in chipset_manufacturers %}
                                <option value="{{ chipset_manufacturer }}">{{ chipset_manufacturer }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Procured Date</label>
                            <div class="input-group">
                                <span class="input-group-text">BETWEEN</span>
                                <input type="date" name="procured_date_between" class="form-control">
                                <span class="input-group-text">AND</span>
                                <input type="date" name="procured_date_and" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Availability</label>
                            <select name="availability" class="form-select">
                                <option value="default" selected>-- All --</option>
                                <option value="Available">Available</option>
                                <option value="In Use">In Use</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="modal-manufacturer-select">Manufacturer</label>
                            <select name="manufacturer" class="form-select optimized-select" id="modal-manufacturer-select">
                                <option value="default" selected>-- All --</option>
                                {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer }}">{{ manufacturer }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Model Year</label>
                            <div class="input-group">
                                <span class="input-group-text">BETWEEN</span>
                                <input type="number" name="model_year_between" class="form-control">
                                <span class="input-group-text">AND</span>
                                <input type="number" name="model_year_and" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Device Status</label>
                            <select name="device_status" class="form-select">
                                <option value="default" selected>-- All --</option>
                                <option value="Active">Active</option>
                                <option value="Missing">Missing</option>
                                <option value="Retired">Retired</option>
                                <option value="Damaged">Damaged</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Geo Locations</label>
                            <select name="geo_location" class="form-select">
                                <option value="default" selected>-- All --</option>
                                <option value="SD">SD</option>
                                <option value="SDC">SDC</option>
                                <option value="QIPL">QIPL</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="modal-user-select">Assign To User</label>
                            <select name="user" class="form-select optimized-select" id="modal-user-select">
                                <option value="">Choose...</option>
                                {% for username in usernames %}
                                    <option value="{{ username }}">{{ username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="userAssignmentModalSaveBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

















// Initialize all optimized selects when modal is shown
const userAssignmentModal = document.getElementById('userAssignmentModal');
userAssignmentModal.addEventListener('show.bs.modal', function() {
    // Initialize all optimized selects in the modal
    userAssignmentModal.querySelectorAll('.optimized-select').forEach(select => {
        if (!select.optimizedSelect) {
            select.optimizedSelect = new OptimizedSelect(select);
        }
    });
});